<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.addItem}"></title>
    <link rel="stylesheet" href="awsm_mischka.css">
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div id="mainContainer">
    <form th:action="@{/add-new-item}" th:object="${item}" method="post">
        <label th:for="name" th:text="#{itemComponent.name}"></label>
        <input type="text" th:id="name" th:field="*{name}"/>
        <br>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <label for="categories" th:text="#{itemComponent.category}"></label>
        <select id="categories" name="categories" th:field="*{category.id}">
            <option th:each="cat : ${categoriesList}"
                    th:text="${cat}"
                    th:value="${cat.id}">
            </option>
        </select>
        <br>
        <label for="producers" th:text="#{itemComponent.producer}"></label>
        <select id="producers" name="producers" th:field="*{producer.id}">
            <option th:each="prod : ${producersList}"
                    th:text="${prod}"
                    th:value="${prod.id}">
            </option>
        </select>
        <br>
        <button type="submit" th:name="add" class="btn btn-success" th:text="#{button.add}"></button>
        <button type="submit" th:name="cancel" class="btn btn-danger" th:text="#{button.cancel}"></button>

    </form>
</div>
</body>
</html>