<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<thead>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SW:Edit item</title>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/awsm_mischka.css}">
</thead>
<tbody>
    <h1 th:text="${item}"></h1>
    <form th:action="@{/edit-pack/{id} (id=${item.id})}" th:object="${item}" th:method="post">

        <label for="productName">Name: </label>
        <input type="hidden" name="_method" th:value="put" />
        <input th:type="text" id="productName" name="productName" th:field="${item.name}" >

        <br>

        <label for="categories">Category: </label>
        <select id="categories" name="categories" th:field="*{category}" />
            <option th:each="cat : ${categoriesList}"
                    th:value="${cat.id}"
                    th:text="${cat}"
                    th:selected="${cat} == ${item.category} ? true : false">
            </option>
        </select>

        <br>

        <label for="producers">Producer: </label>
        <select id="producers" name="producers" th:field="*{producer}" />
            <option th:each="prod : ${producersList}"
                    th:value="${prod.id}"
                    th:text="${prod}"
                    th:selected="${prod} == ${item.producer} ? true : false">
            </option>
        </select>

        <br>

        <button type="submit" name="update" class="btn btn-success">Update</button>
        <button type="submit" name="cancel" class="btn btn-danger">Cancel</button>

    </form>
</tbody>
</html>