<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<thead>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SW:Products</title>

<link type="text/css" rel="stylesheet" href="bootstrap.css">
<link type="text/css" rel="stylesheet" href="awsm_mischka.css">
<link type="text/css" rel="stylesheet" href="additional_styles.css">
</thead>
<tbody>
<div th:insert="menu.html :: mainNavbar"></div>
    <div id="mainContainer">

        <h1>All products</h1>

        <div>
            <h2>Items</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Producer</th>
                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}" class="center_table">
                    <th scope="row" th:text="${item.name}"></th>
                    <th scope="row" th:text="${item.category}"></th>
                    <th scope="row" th:text="${item.producer}"></th>
                    <th scope="row">
                        <form th:action="@{/product/{id} (id=${item.id})}" th:method="get">
                            <button type="submit" name="showItem" class="btn btn-success">Show</button>
                        </form>
                    </th>
                    <th scope="row">
                        <form th:action="@{/edit-item/{id} (id=${item.id})}" th:method="get">
                            <button type="submit" name="editItem" class="btn btn-primary">Edit</button>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Packs</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Producer</th>
                    <th scope="col">Details</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pack: ${packs}">
                    <th scope="row" th:text="${pack.name}"></th>
                    <th scope="row" th:text="${pack.category}"></th>
                    <th scope="row" th:text="${pack.producer}"></th>
                    <th scope="row">
                        <form th:action="@{/product/{id} (id=${pack.id})}" th:method="get">
                            <button type="submit" name="showPack" class="btn btn-success">Show</button>
                        </form>
                    </th>
                    <th scope="row">
                        <form th:action="@{/edit-pack/{id} (id=${pack.id})}" th:method="get">
                            <button type="submit" name="editPack" class="btn btn-primary">Edit</button>
                        </form>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

    </div> <!-- mainContainer -->
<footer th:insert="footer.html :: mainFooter"></footer>
</tbody>
</html>